{% extends "base.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

    <h2>Job Applications</h2>

    <a href="{% url 'job_create' %}"> Add a New Job</a> 

    {% for job in jobs %}
        <p>{{ job.company_name }} - {{ job.job_title }} ({{ job.status }})
            <a href="{% url 'job_update' job.id %}"> Edit</a>
            <a href="{% url 'job_delete' job.id %}">Delete</a>

        </p>
    {% empty %}
        <p>No job applications found.</p>
    {% endfor %}
{% endblock %}
