{% extends "base.html" %}

{% block content %}
    <h2>Add a Job Application</h2>

    <form method="POST">
        {% csrf_token %}
        
        <label for="company_name">Company Name:</label>
        {{ form.company_name }}
        
        <label for="job_title">Job Title:</label>
        {{ form.job_title }}
        
        <label for="date_applied">Date Applied:</label>
        {{ form.date_applied }}
        
        <label for="status">Status:</label>
        <select name="status" id="status">
            {% for value, label in form.fields.status.choices %}
                <option value="{{ value }}" {% if form.instance.status == value %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    
        <label for="notes">Notes:</label>
        {{ form.notes }}
        
        <button type="submit">Save</button>
    </form>
    

    <a href="{% url 'job_list' %}">⬅ Back to Job List</a>
{% endblock %}